*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #323232;
    border: none;
}

#barra-nav{
    padding: 2vh;
    background-color: #fff;
    border-bottom: 2px solid #323232;
    font-size: .9rem;
    margin-bottom: 20px;
}

#barra-nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
}
/*links*/
#barra-nav a{
    text-decoration: none;
    color: black;
}

#barra-nav a:hover{
    color: yellow;
}

#barra-nav #sair{
    text-align: right;
}

#container h1, p{
    text-align: center;
    font-size: 1.6rem;
}


/*formulario instrutor*/
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-conteiner-instrutores{
    flex: 1 1 100%;
    position: relative;
}

label{
    font-weight: bold;
    font-size: .8rem;
}

input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 20px;
}

input:focus{
    border-color: yellow;
}

input[type="submit"]{
    background-color: #323232;
    color: #fff;
    border-radius: 3px;
    height: 40px;
    cursor: pointer;
}
input[type="submit"]:hover {
    border-color: yellow;
}

/*rodape*/
footer {
    text-align: center;
    padding: 30px;
    width: 100%;
    background-color: #323232;
    color: white;
    bottom: 0;
    position: absolute;
  }