/*config apitempo*/
.flex {
    display: flex;
    align-items: center;
    margin: 0;
}
h4.temp {
    padding: 1em;
    align-items: center;
    color: white;
    text-align: center;
    margin-right: 2em;
}
.description {
    text-transform: capitalize;
    margin-right: 9em;
    color: white;
}
.humidity{
    color: white;
    margin-right: 7em;

}
.wind{
    color: white;
    margin-right: 6em;
    margin-bottom: 1em;
}
.weather{
    visibility: visible;
    color: white;
    display: inline-block;
    flex-direction: column;
    padding: 2vh;
    margin: 0;
    align-items: center;
}
.card {

    background: #4b4b4b;

    width: 300px;
    height: 300px;
    color: black;
    padding: 2em;
    border-radius: 30px;
   
    max-width: 420px;
    flex-direction: column;
    display: inline-block;
}
.total{
    text-align: center;
    float: left;
    width: 30%;
    padding-left: 5px;
    margin-top: 0.5%;
}

h3.city {
    margin-right: 2em;
    align-items: center;
    margin-top: 3px;
    text-align: center;
    color: white;
}

